.news-flex-wrap {
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .news-flex-item {
    width: 330px;
    margin-right: 30px;
  }
  .news-flex-item:last-child {
    margin-right: 0;
  }
  .news-flex-item-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* or 139% */
  
    color: #000000;
  }
  .news-small-text {
      display: flex;
      justify-content: space-between;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
  
    color: rgba(38, 38, 38, 0.7);
  }