.catalog-flex-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
  .catalog-flex-item {
    width: 330px;
    background-color: #f5f9fa;
    border-radius: 20px;
    margin-top: 100px;
    margin-right: 30px;
    padding-bottom: 22px;
  }
  .catalog-flex-item:nth-child(4),
  .catalog-flex-item:nth-child(8) {
    margin-right: 0;
  }
  .catalog-flex-item-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    padding: 0 30px;
    /* or 156% */
  
    color: #212121;
  }
  .catalog-btn {
    margin-left: 30px;
    text-align: center;
  }
  .catalog-flex-item-img {
    text-align: center;
    transform: translateY(-50px);
  }
  .catalog-title{
      margin-bottom: 50px;
  }